.bg-home{ background-image: url("../../img/home-bg.jpg");}
.bg-about{ background-image: url("../../img/about-bg.jpg");}
.bg-blog{ background-image: url("../../img/post-bg.jpg");}
.bg-contact{ background-image: url("../../img/contact-bg.jpg");}